.bg-amarelo{
    background-color: rgb(207, 169, 9);
}

.fs-14{
    font-size: 14pt !important;
}

.t-preto{
    color: black;
}

a{
    cursor: pointer;
}

i:hover{
    color: black;
}

.out:hover{
    color: black !important;
}