<div class="container-fluid bg-light">
    <div class="row d-flex align-items-center">

        <div class="col-md-6" id="img-bg"></div>

        <div class="col-md-6">

            <div class="row d-flex justify-content-center">

                <div class="col-md-9">

                    <h1 class="text-center text-padrao">Cadastro</h1>

                    <div class="form-group">
                        <label for="nome" class="text-padrao">Nome</label>
                        <input class="form-control" type="text" name="nome" id="nome" placeholder="Seu nome">
                    </div>
                    <div class="form-group">
                        <label for="usuario" class="text-padrao">Usuário</label>
                        <input class="form-control" type="text" name="usuario" id="usuario" placeholder="Seu usuário">
                    </div>
                    <div class="form-group">
                        <label for="foto" class="text-padrao">Link da foto</label>
                        <input class="form-control" type="text" name="foto" id="foto" placeholder="Sua foto">
                    </div>
                    <div class="form-group">
                        <label for="senha" class="text-padrao">Senha</label>
                        <input class="form-control" type="password" name="senha" id="senha" placeholder="Sua senha">
                    </div>
                    <div class="form-group">
                        <label for="confirmarsenha" class="text-padrao">Confirmar Senha</label>
                        <input class="form-control" type="password" name="confirmarsenha" id="confirmarsenha" placeholder="Sua senha">
                    </div>
                    <div class="form-group">
                        <label for="tipo" class="text-padrao">Tipo de Usuário</label>
                        <select class="form-control" name="tipo" id="tipo">
                            <option>Selecione o tipo de usuário</option>
                            <option value="adm">Professor</option>
                            <option value="normal">Estudante</option>
                        </select>
                    </div>

                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-cancel text-light mx-2" routerLink="/entrar">Cancelar</button>
                        <button type="submit" class="btn btn-cad text-light mx-2">Cadastrar</button>
                    </div>

                </div>

            </div>

        </div>

    </div>
</div>
