.nav-tabs .nav-link.active{
    color: rgb(6, 104, 92);
    border-color: rgb(6, 104, 92);
    background-color: white !important;
}

.nav-tabs .nav-link{
    color: white;
}

.btn-verde{
    color: white;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgb(6, 104, 92);
}

.btn-verde:hover{
    background-color: rgb(6, 104, 92);

}

.cad{
    color: rgb(6, 104, 92);
}